<% layout('layouts/boilerplate') %>


    <div class="row">
        <div class="mb-3">
            <h1 class="text-center">編輯營地</h1>
        </div>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campgroundEdit._id%>?_method=PUT" method="POST" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="title">營地名稱</label>
                            <input class="form-control" type="text" name="campground[title]" id="title"
                                value="<%=campgroundEdit.title%>" required>
                            <div class="invalid-feedback">
                                請輸入營地的名字
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="price">價格</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input type="text" class="form-control" name="campground[price]" id="price"
                                    placeholder="ex.1500" value="<%=campgroundEdit.price%>" required>
                                <div class="invalid-feedback">
                                    請輸入價格
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">營地簡介</label>
                    <textarea class="form-control" name="campground[description]" id="description"
                        required><%=campgroundEdit.description%></textarea>
                    <div class="invalid-feedback">
                        請簡單介紹營地特色
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for=" address">地址</label>
                    <input class="form-control" type="text" name="campground[address]" id="address" placeholder="地址"
                        value="<%=campgroundEdit.address%>" required>
                    <div class="invalid-feedback">
                        請填寫地址
                    </div>
                </div>
                <label class="form-label" for=" city">所在縣市</label>
                <div class="mb-3 form-floating">
                    <select class="form-select" name="campground[city]" id="city" required>
                        <option value="">縣市</option>
                        <% for (let city of cities){ %>
                            <option value="<%=city%>" <%=campgroundEdit.city===city ? 'selected' :'' %>>
                                <%=city%>
                            </option>
                            <% } %>
                    </select>
                    <div class="invalid-feedback">
                        請選擇營區所在縣市
                    </div>
                    <label class="form-label" for=" city">所在縣市</label>
                </div>
                <div class="mb-3">
                    <label class="form-label" for=" image">上傳圖片</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <% campgroundEdit.images.forEach(function(img, i) { %>
                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-primary">完成</button>
                </div>
            </form>

            <a class="link-secondary" href=" http://localhost:3000/campgrounds/">取消</a>
        </div>
    </div>